In [4]:
import pandas as pd
import numpy as np

pairs = ['EURJPY', 'EURUSD', 'USDJPY']
times = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
         '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
         '2016', '2017', '201801', '201801']

for pair in pairs[:1]:
    print('Processing %s...' % pair)
    file_stem = 'fx_data/' + pair + '/DAT_ASCII_' + pair + '_M1_'
    if pair == 'EURJPY':
        year_range = times[2:]
    else:
        year_range = times

    df = pd.read_csv(file_stem + year_range[0] + '.csv', sep=';', header=None)
    for year in year_range[1:2]:
        new = pd.read_csv(file_stem + year + '.csv', sep=';', header=None)
        df = pd.concat([df, new], axis=0)
    
    df.columns = ['time', 'open', 'high', 'low', 'close', 'volume']
    df['time'] = pd.to_datetime(df['time'], infer_datetime_format=True)
    df = df.set_index('time')
    del df['volume']

Processing EURJPY...

In [14]:
d = pd.read_csv('fx_data/EURJPY/EURJPY_2002-201801.csv')

In [15]:
d

                        time     open     high      low    close
0        2002-03-03 19:03:00  115.490  115.490  115.490  115.490
1        2002-03-03 19:04:00  115.490  115.490  115.490  115.490
2        2002-03-03 19:05:00  115.490  115.490  115.490  115.490
3        2002-03-03 19:09:00  115.510  115.510  115.500  115.510
4        2002-03-03 19:10:00  115.520  115.540  115.520  115.530
5        2002-03-03 19:11:00  115.530  115.540  115.530  115.530
6        2002-03-03 19:12:00  115.540  115.540  115.530  115.530
7        2002-03-03 19:13:00  115.530  115.530  115.510  115.520
8        2002-03-03 19:14:00  115.530  115.530  115.510  115.520
9        2002-03-03 19:15:00  115.510  115.540  115.510  115.540
10       2002-03-03 19:18:00  115.540  115.540  115.520  115.520
11       2002-03-03 19:19:00  115.520  115.540  115.520  115.540
12       2002-03-03 19:20:00  115.540  115.540  115.510  115.530
13       2002-03-03 19:21:00  115.540  115.540  115.510  115.510
14       2002-03-03 19:22:00  115.510  115.510  115.510  115.510
15       2002-03-03 19:23:00  115.520  115.520  115.510  115.510
16       2002-03-03 19:24:00  115.510  115.530  115.500  115.510
17       2002-03-03 19:25:00  115.520  115.520  115.490  115.500
18       2002-03-03 19:26:00  115.500  115.570  115.500  115.540
19       2002-03-03 19:27:00  115.550  115.590  115.530  115.590
20       2002-03-03 19:28:00  115.570  115.600  115.560  115.560
21       2002-03-03 19:29:00  115.560  115.580  115.560  115.580
22       2002-03-03 19:30:00  115.580  115.580  115.560  115.570
23       2002-03-03 19:31:00  115.570  115.580  115.540  115.560
24       2002-03-03 19:32:00  115.560  115.560  115.530  115.540
25       2002-03-03 19:33:00  115.550  115.560  115.540  115.560
26       2002-03-03 19:34:00  115.560  115.560  115.540  115.550
27       2002-03-03 19:35:00  115.540  115.550  115.530  115.540
28       2002-03-03 19:36:00  115.540  115.540  115.510  115.520
29       2002-03-03 19:37:00  115.520  115.520  115.480  115.510
...                      ...      ...      ...      ...      ...
5702919  2018-01-31 23:29:00  135.802  135.808  135.794  135.794
5702920  2018-01-31 23:30:00  135.795  135.801  135.780  135.781
5702921  2018-01-31 23:31:00  135.782  135.782  135.772  135.782
5702922  2018-01-31 23:32:00  135.782  135.783  135.777  135.782
5702923  2018-01-31 23:33:00  135.780  135.780  135.771  135.771
5702924  2018-01-31 23:34:00  135.774  135.775  135.769  135.769
5702925  2018-01-31 23:35:00  135.768  135.770  135.768  135.768
5702926  2018-01-31 23:36:00  135.769  135.769  135.767  135.768
5702927  2018-01-31 23:37:00  135.768  135.770  135.768  135.770
5702928  2018-01-31 23:38:00  135.767  135.778  135.767  135.771
5702929  2018-01-31 23:39:00  135.772  135.776  135.758  135.762
5702930  2018-01-31 23:40:00  135.765  135.783  135.765  135.770
5702931  2018-01-31 23:41:00  135.772  135.775  135.765  135.768
5702932  2018-01-31 23:42:00  135.768  135.768  135.747  135.750
5702933  2018-01-31 23:43:00  135.750  135.763  135.748  135.760
5702934  2018-01-31 23:44:00  135.759  135.760  135.739  135.740
5702935  2018-01-31 23:45:00  135.741  135.741  135.724  135.737
5702936  2018-01-31 23:46:00  135.739  135.748  135.737  135.746
5702937  2018-01-31 23:47:00  135.746  135.746  135.737  135.737
5702938  2018-01-31 23:48:00  135.738  135.744  135.734  135.743
5702939  2018-01-31 23:49:00  135.743  135.753  135.728  135.729
5702940  2018-01-31 23:50:00  135.728  135.743  135.728  135.742
5702941  2018-01-31 23:51:00  135.740  135.742  135.738  135.742
5702942  2018-01-31 23:52:00  135.743  135.753  135.743  135.753
5702943  2018-01-31 23:53:00  135.754  135.759  135.752  135.759
5702944  2018-01-31 23:54:00  135.761  135.761  135.745  135.745
5702945  2018-01-31 23:55:00  135.746  135.751  135.743  135.748
5702946  2018-01-31 23:56:00  135.747  135.748  135.739  135.741
5702947  2018-01-31 23:57:00  135.740  135.742  135.739  135.739
5702948  2018-01-31 23:58:00  135.739  135.747  135.736  135.744

[5702949 rows x 5 columns]